@media (max-width: 1012px) {
    #menu-icon {
        position: relative;
        display: block;
        margin: auto;
    }
    .main-btns {
        position: relative; 
    }
    .navbar {
        position: fixed;
        top: 0;
        left: -100%;
        width: 15rem;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: #FFC47E;
        justify-content: flex-start;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        transition: all .6s ease;
        padding-top: 7rem;
        z-index: 999;
    }
    .navbar a {
        display: block;
        margin: 0.8rem 0;
        padding: 0 1.3rem;
        border-bottom: solid hsla(0, 0%, 0%, 0.238) 1px;
        padding-bottom: 1rem;
        transition: all .6s ease;
    }
    .logo-li{
        display: block;
        position: relative;
        top: -5rem;
        color: #331B3B;
        font-size: 24px;
        font-size: 700;
        line-height: 28.13px;
    }
    .navbar a:hover {
        font-weight: 700;
    }
    .navbar.open {
        left: 0;
        transition: ease-in-out .6s;
    }
    .carosule-btns{
        position: relative;
        top: -0.2rem;
        left: 1rem;
    }
    .recent-works-container{
        width: 500px;
        height: auto;
    }
  }
@media(max-width: 1258px){
    .hero-content h1{
        font-size: 4rem;
        line-height: 4rem;
    }
    .hero-content .yellow-uline::after{
        top: 5.8rem;
    }
    .main-shape{
        top: -15.5rem;
        width: 407.54px;
        height: 669.82px;
    }
    .recent-work-yellow-uline::after{
        top: 1rem;
        width: 13%;
        left: 14rem;
    }
}
@media(max-width: 1202px){
    .hero-img-01{
        width: 35rem;
    }
    .about-img{
        width: 35rem;
    }
    .our-work-third-info-box{
        display: none;
    }
    .recent-work-yellow-uline::after{
        top: 4rem;
        width: 15%;
        left: 12.5rem;
        height: 10%;
    }
}
@media(max-width: 1088px){
    .hero-img-01{
        width: 30rem;
    }
    .about-img{
        width: 30rem;
    }
    .main-shape{
        width: 23rem;
        height: 33rem;
        top: -10rem;
        right: -3.95rem;
    }
    .main-shape{
        top: -15.5rem;
        width: 407.54px;
        height: 609.82px;
    }
    .recent-work-yellow-uline::after{
        top: 4rem;
        width: 17%;
        left: 11.5rem;
        height: 10%;
    }
}
@media(max-width: 1002px){
    .hero-content h1{
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
    .hero-img-01{
        width: 25rem;
    }
    .about-img{
        width: 25rem;
    }
    .footer-container{
        flex-direction: column;
    }
    .hero-content .yellow-uline::after{
        top: 5rem;
      }
      .main-shape{
        top: -15.2rem;
        width: 407.54px;
        height: 569.82px;
    }
    .recent-work-yellow-uline::after{
        top: 4rem;
        width: 17%;
        left: 11.5rem;
        height: 10%;
    }
}
@media(max-width: 928px){
    .hero-content h1{
        font-size: 3.3rem;
        line-height: 3.3rem;
    }
    .hero-img-01{
        width: 22rem;
    }
    .about-img{
        width: 22rem;
    }
    .about-content h1{
        font-size: 2.8rem;
    }
    .recent-work-heading{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .recent-work-heading h2{
        text-align: center;
    }
    .recent-work-heading p{
        text-align: center;
        font-size: 0.8rem;
        width: auto;
        padding: 0 1rem;
    }
    .testimonials-main-box{
        flex-direction: column;
    }
    .main-shape{
        top: -15.2rem;
        width: 407.54px;
        height: 569.82px;
    }
    .about-yellow-uline::after{
        left: 9.7rem;
    }
    .recent-work-yellow-uline::after{
        top: 3.5rem;
        width: 18%;
        left: 25rem;
        height: 10%;
    }
}
@media(max-width: 876px){
    #hero-section{
        flex-direction: column;
        position: relative;
    }
    .hero-content{
        justify-content: center;
        align-items: center;
    }
    .hero-content h1{
        text-align: center;
        font-size: 4rem;
        line-height: 4rem;
    }
    .hero-content p{
        text-align: center;
        font-size: 1.2rem;
    }
    .hero-img{
        top: 2rem;
    }
    .hero-img-01{
       width: 36rem;
    }
    .our-work-second-info-box{
        display: none;
    }
    .carosule-btn-01,
    .carosule-btn-02{
        right: 11rem;
        top: -8rem;
    }
    .recent-work-carosule-btn-01{
        top: -15rem;
        left: -14rem;
    }
    .recent-work-carosule-btn-02{
        top: -15rem;
        left: 13rem;
    }
    #about-section{
        flex-direction: column;
    }
    .about-content{
        align-items: center;
    }
    .about-img{
        width: 36rem;
    }
    .about-content h1{
        text-align: center;
        font-size: 4rem;
        line-height: 4rem;
    }
    .about-content p{
        text-align: center;
        font-size: 1.2rem;
    }
    .recent-work-heading h2{
        left: -2.5rem;
    }
    .main-shape{
        width: 37rem;
        height: 67rem;
        top: -15.2rem;
        right: -8.6rem;
    }
    .hero-content .yellow-uline::after{
        top: 5.8rem;
        left: 4.8rem;
      }
      .about-yellow-uline::after{
        width: 30%;
        top: 3.7rem;
        left: 14rem;
    }
    .recent-work-yellow-uline::after{
        top: 3.5rem;
        width: 19%;
        left: 22.6rem;
        height: 10%;
    }
}
    @media(max-width: 759px){
        .recent-work-yellow-uline::after{
            top: 3.5rem;
            width: 25.5%;
            left: 18.6rem;
            height: 10%;
        }
    }
    @media(max-width: 658px){
    .hero-content h1{
        font-size: 3rem;
        line-height: 3rem;
    }
    .hero-content p{
        text-align: center;
        font-size: 1rem;
    }
    .hero-img-01{
       width: 28rem;
    }
    .about-img{
        width: 28rem;
    }
    .about-content h1{
        font-size: 3rem;
        line-height: 3rem;
    }
    .about-content p{
        font-size: 1rem;
    }
    .testimonials-heading h1{
        font-size: 2.4rem;
    }
    .main-shape{
        width: 33rem;
        height: 58rem;
        top: -15.2rem;
        right: -5.4rem;
    }
    .recent-works-container{
        width: 410px;
        height: auto;
    }
    .hero-content .yellow-uline::after{
        top: 4.4rem;
        left: 3.6rem;
      }
      .about-yellow-uline::after{
        top: 3rem;
        left: 10.4rem;
    }
    .-test-sec-yellow-uline::after{
        left: 22rem;
    } 
    .recent-work-yellow-uline::after{
        top: 3.5rem;
        width: 25.5%;
        left: 16.6rem;
        height: 10%;
    }
}
@media(max-width: 555px){
    .hero-content h1{
        text-align: center;
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    .hero-content p{
        text-align: center;
        font-size: 0.8rem;
    }
    .hero-img-01{
       position: relative;
       width: 25rem;
       right: 1rem;
    }
    .our-works-heading-box h1{
        font-size: 2.5rem;
    }
    .about-img{
        width: 25rem;
    }
    .about-content h1{
        text-align: center;
        font-size: 2.5em;
        line-height: 2.5rem;
    }
    .about-content p{
        text-align: center;
        font-size: 0.8rem;
    }
    .testimonials-heading h1{
        font-size: 2.4rem;
    }
    .recent-work-heading h2{
        font-size: 2.3rem;
        line-height: 2.3rem;
        left: -1rem;
    }
    .recent-works-container{
        width: 410px;
        height: auto;
    }
    .testimonials-heading h1{
        font-size: 2.1rem;
        line-height: 2.1rem;
    }
    .main-shape{
        width: 30rem;
        height: 52rem;
        top: -15.2rem;
        right: -5.4rem;
    }
    .hero-content .yellow-uline::after{
        top: 3.6rem;
        left: 3rem;
      }
      .our-work-yellow-uline::after{
        top: 2.6rem;
        left: 9.5rem;
      }
      .about-yellow-uline::after{
        top: 2.3rem;
        left: 8.7rem;
    }
    .-test-sec-yellow-uline::after{
        left: 19.5rem;
    } 
    .recent-work-yellow-uline::after{
        top: 2rem;
        width: 25.5%;
        left: 14.6rem;
        height: 10%;
    }
}
@media(max-width: 542px){
    .main-btns button{
        position: relative;
        left: -4rem;
      }
    #menu-icon{
        position: relative;
        left: -2rem;
    }
    .footer-container{
        width: auto;
        align-items: center;
    }
    .footer-section-first-box{
        width: 70%;
    }
    .footer-section-second-box{
        width: 30%;
        position: relative;
        left: -6rem;
    }
    .recent-works-container{
        width: 360px;
        height: auto;
    }
    .recent-works-info-box{
        width: 350px;
    }
    .recent-works-info-box .recent-work-img-01{
        width: 14rem;
    }
    .recent-work-yellow-uline::after{
        top: 2rem;
        width: 25.5%;
        left: 13.6rem;
        height: 10%;
    }
    .eclipse-svg{
        width: 20rem;
        top: 12rem;
    }
}
@media(max-width: 482px){
    #our-works{
        height: 24rem;
    }
    .our-works-heading-box h1{
        position: relative;
        top: 1rem;
        font-size: 2rem;
        line-height: 2rem;
    }
    .testimonials-heading h1{
        font-size: 2.4rem;
    }
    .recent-work-heading h2{
        font-size: 2rem;
        line-height: 2rem;
    }
    .recent-works-container{
        width: 380px;
        height: auto;
    }
    .recent-works-info-box{
        width: 300px;
    }
    .recent-works-info-box .recent-work-img-01{
        width: 11rem;
    }
    .testimonials-heading h1{
        font-size: 1.4rem;
        line-height: 1.5rem;
    }
    #menu-icon{
        position: relative;
    }
    .recent-works-container{
        width: 300px;
        height: auto;
    }
    .testimonials-first-child-box,
    .testimonials-second-child-box{
        width: auto;
    }
    .footer-section-second-box iframe{
        width: auto;
        position: relative;
    }
    .our-work-yellow-uline::after{
        top: 2rem;
        left: 7.5rem;
      }
      .-test-sec-yellow-uline::after{
        left: 12.5rem;
    } 
    .recent-work-yellow-uline::after{
        top: 1.6rem;
        width: 25.5%;
        left: 11.6rem;
        height: 10%;
    }
    .eclipse-svg{
        width: 20rem;
        top: 3rem;
    }
}
@media(max-width: 440px){
    .main-btns{
        position: relative;
        left: -3rem;
    }
    #menu-icon{
       position: relative;
       left: -4.5rem;
    }
    .recent-work-yellow-uline::after{
        top: 1.6rem;
        width: 25.5%;
        left: 11.6rem;
        height: 10%;
    }
}
@media(max-width: 400px){
    .hero-content h1,
    .our-works-heading-box h1,
    .about-content h1,
    .recent-work-heading h2,
    .recent-work-heading h2 b,
    .testimonials-heading h1{
        font-size: 1.6rem;
        line-height: 1.6rem;
    }
    .hero-content p,
    .about-content p{
        font-size: 0.6rem;
        line-height: 0.8rem;
    }
    .hero-content button,
    .about-content button{
        width: 7rem;
        height: 2.5rem;
        font-size: 0.8rem;
    }
    .hero-img-01,
    .about-img{
        width: 16rem;
        left: -1rem;
    }
    .main-shape{
        width: 25rem;
        height: 37.3rem;
        top: -10rem;
        right: -5.4rem;
    }
    .recent-works-container{
        width: 200px;
        height: auto;
    }
    .testimonials-heading h1{
        font-size: 1.2rem;
        line-height: 1.3rem;
    }
    .footer-section-second-box{
        width: 30%;
        position: relative;
        left: -5rem;
    }
    .hero-content .yellow-uline::after{
        top: 2.4rem;
        left: 1.8rem;
      }
      .our-work-yellow-uline::after{
        top: 1.5rem;
        left: 6rem;
      }
      .about-yellow-uline::after{
        top: 1.6rem;
        left: 5.6rem;
    }
    .-test-sec-yellow-uline::after{
        left: 11rem;
    } 
    .main-shape{
        width: 26.5rem;
        height: 42rem;
        top: -15.2rem;
        right: -5.4rem;
    }
    .recent-works-container{
        width: 300px;
        height: auto;
    }
    .recent-works-info-box{
        width: 300px;
    }
    .recent-works-info-box .recent-work-img-01{
        width: 11rem;
    }
    .recent-work-yellow-uline::after{
        top: 1rem;
        width: 25%;
        left: 10.6rem;
        height: 10%;
    }
}
@media(max-width: 386px){
    .main-btns button{
        position: relative;
        margin-inline: 0.2rem;
        left: -5rem;
    }
    .footer-section-first-box{
        justify-content: center;
        align-items: center;
    }
    .footer-section-first-box h1{
        font-size: 1rem;
    }
    .footer-section-first-box p{
        font-size: 0.8rem;
    }
    .footer-section-first-box input{
        width: 12rem;
    }
    .footer-section-first-box button{
        width: 5rem;
    }
    .footer-section-second-box{
        width: 10%;
        left: -8.3rem;
        position: relative;
    }
    .footer-section-second-box iframe{
        width: auto;
        position: relative;
    }
    .recent-work-yellow-uline::after{
        top: 1rem;
        width: 25.5%;
        left: 9rem;
        height: 10%;
    }
}
