@media (max-width: 1012px) {
    #menu-icon {
        position: relative;
        top: -2.5rem;
        left: 13.5rem;
        display: block;
    }
  
    .main-btns {
        position: relative;
        top: 1rem;
    }
  
    .navbar {
        position: absolute;
        top: 80%;
        right: -100%;
        width: 13rem;
        height: 29vh;
        display: flex;
        flex-direction: column;
        background-color: rgb(246, 237, 116);
        justify-content: flex-start;
        border-radius: 12px;
        transition: all .5s ease;
    }
  
    .navbar a {
        display: block;
        margin: 0.8rem 0;
        padding: 0 1.3rem;
        transition: all .5s ease;
    }
  
    .navbar a:hover {
        font-weight: 700;
        transform: translateY(10px);
    }
  
    .navbar.open {
        right: 2%;
    }
  }
  
@media(max-width: 1258px){
    .hero-content h1{
        font-size: 4rem;
        line-height: 4rem;
    }
    .recent-work-heading{
        flex-direction: column;
    }
    .recent-work-heading h2{
        font-size: 2.5rem;
        text-align: center;
        left: 3.5rem;
    }
    .recent-work-heading p{
        top: 1.5rem;
        text-align: center;
    }
}
@media(max-width: 1202px){
    .hero-img-01{
        width: 35rem;
    }
    .about-img{
        width: 35rem;
    }
    .our-work-third-info-box{
        display: none;
    }
    .carosule-btn-01,
    .carosule-btn-02,
    .recent-work-carosule-btn-01,
    .recent-work-carosule-btn-02{
        right: 21rem;
        top: -8rem;
    }
}
@media(max-width: 1088px){
    .hero-img-01{
        width: 30rem;
    }
    .about-img{
        width: 30rem;
    }
    .recent-work-main-box-second-child-box{
        display: none;
    }
    .footer-map-img{
        width: 20rem;
    }
    .main-shape{
        width: 23rem;
        height: 33rem;
        top: -10rem;
        right: -3.95rem;
    }
}
@media(max-width: 1002px){
    .hero-content h1{
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
    .hero-img-01{
        width: 25rem;
    }
    .about-img{
        width: 25rem;
    }
    .main-shape{
        width: 20rem;
        height: 30rem;
        top: -10rem;
        right: -3.95rem;
    }
}
@media(max-width: 928px){
    .hero-content h1{
        font-size: 3.3rem;
        line-height: 3.3rem;
    }
    .hero-img-01{
        width: 22rem;
    }
    .about-img{
        width: 22rem;
    }
    .about-content h1{
        font-size: 2.8rem;
    }
    #footer-section{
        flex-direction: column;
        height: auto;
    }
    .footer-section-first-box{
        top: 2rem;
    }
    .footer-section-second-box{
       margin-top: 3.5rem;
       left: -2.8rem;
    }
    .footer-map-img{
        width: 24rem;
    }
    .testimonials-main-box{
        flex-direction: column;
    }
    .main-shape{
        width: 17rem;
        height: 29rem;
        top: -10rem;
        right: -3.95rem;
    }
}
@media(max-width: 876px){
    #hero-section{
        flex-direction: column;
    }
    .hero-content h1{
        text-align: center;
        font-size: 4rem;
        line-height: 4rem;
    }
    .hero-content p{
        text-align: center;
        font-size: 1.2rem;
    }
    .hero-content button{
        position: relative;
        left: 10.6rem;
    }
    .hero-img{
        top: 2rem;
    }
    .hero-img-01{
       width: 36rem;
    }
    .our-work-second-info-box{
        display: none;
    }
    .carosule-btn-01,
    .carosule-btn-02{
        right: 11rem;
        top: -8rem;
    }
    .recent-work-carosule-btn-01{
        top: -15rem;
        left: -14rem;
    }
    .recent-work-carosule-btn-02{
        top: -15rem;
        left: 13rem;
    }
    #about-section{
        flex-direction: column;
    }
    .about-img{
        width: 36rem;
    }
    .about-content h1{
        text-align: center;
        font-size: 4rem;
        line-height: 4rem;
    }
    .about-content p{
        text-align: center;
        font-size: 1.2rem;
    }
    .about-content button{
        position: relative;
        left: 10.6rem;
    }
    .recent-work-heading h2{
        left: -2.5rem;
    }
    .recent-work-heading p{
        left: -2.5rem;
    }
    .main-shape{
        width: 37rem;
        height: 67rem;
        top: -10rem;
        right: -8.6rem;
    }
}
@media(max-width: 658px){
    .hero-content h1{
        text-align: center;
        font-size: 3rem;
        line-height: 3rem;
    }
    .hero-content p{
        text-align: center;
        font-size: 1rem;
    }
    .hero-content button{
        position: relative;
        left: 8rem;
    }
    .hero-img-01{
       width: 28rem;
    }
    .about-img{
        width: 28rem;
    }
    .about-content h1{
        text-align: center;
        font-size: 3rem;
        line-height: 3rem;
    }
    .about-content p{
        text-align: center;
        font-size: 1rem;
    }
    .about-content button{
        position: relative;
        left: 8rem;
    }
    .testimonials-heading h1{
        font-size: 2.4rem;
    }
    .main-shape{
        width: 33rem;
        height: 58rem;
        top: -10rem;
        right: -5.4rem;
    }
    .main-btns{
        position: relative;
        width: 70%;
    }
    .recent-work-carosule-btn-01{
        top: -1rem;
        left: 1rem;
    }
    .recent-work-carosule-btn-02{
        top: -1rem;
        left: 1rem;
    }
}
@media(max-width: 567px){
    .main-btns{
        position: relative;
        width: 100%;
    }
}
@media(max-width: 555px){
    .hero-content h1{
        text-align: center;
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    .hero-content p{
        text-align: center;
        font-size: 0.8rem;
    }
    .hero-content button{
        position: relative;
        left: 5rem;
    }
    .hero-img-01{
       position: relative;
       width: 25rem;
       right: 1rem;
    }
    .our-works-heading-box h1{
        font-size: 2.5rem;
    }
    .about-img{
        width: 25rem;
    }
    .about-content h1{
        text-align: center;
        font-size: 2.5em;
        line-height: 2.5rem;
    }
    .about-content p{
        text-align: center;
        font-size: 0.8rem;
    }
    .about-content button{
        position: relative;
        left: 5rem;
    }
    .testimonials-heading h1{
        font-size: 2.4rem;
    }
    .recent-work-heading h2{
        font-size: 2.3rem;
        line-height: 2.3rem;
        left: -1rem;
    }
    .recent-work-heading p{
        font-size: 0.8rem;
        left: -1rem;
    }
    .recent-work-main-box-first-child-box{
        width: 380px;
        height: 355;
        right: 1rem;
    }
    .recent-work-01-web{
        width: 15rem;
    }
    .recent-work-main-box-first-child-box button{
        position: relative;
        left: 16.5rem;
    }
    .testimonials-heading h1{
        font-size: 2.1rem;
        line-height: 2.1rem;
    }
    .footer-section-first-box h1{
        text-align: center;
        font-size: 2.1rem;
    }
    .footer-section-first-box p{
        text-align: center;
        font-size: 0.8rem;
    }
    .footer-section-first-box h3{
        text-align: center;
    }
    .footer-section-first-box input{
        width: 13rem;
    }
    .footer-map-img{
        position: relative;
        width: 20rem;
        left: 0.8rem;
    }
    .main-btns{
        position: relative;
        width: 100%;
    }
    .main-shape{
        width: 30rem;
        height: 52rem;
        top: -10rem;
        right: -5.4rem;
    }
}
@media(max-width: 542px){
    .main-btns button{
        margin: auto;
        font-size: 1rem;
        width: 2.5rem;
        height: 2.5rem;
      }
    #menu-icon{
        position: relative;
        left: 11rem;
    }
}
@media(max-width: 482px){
    #our-works{
        height: 24rem;
    }
    .our-works-heading-box h1{
        font-size: 2rem;
        line-height: 2rem;
    }
    .our-work-first-info-box{
        height: 11rem;
        width: 15rem;
    }
    .our-work-first-info-box h2{
        font-size: 0.8rem;
    }
    .our-work-first-info-box p{
        font-size: 0.8rem;
    }
    .our-work-first-info-box svg{
        width: 1.6rem;
        padding: 0.3rem;
    }
    .carosule-btn-01{
        right: 8rem;
        top: -5rem;
    }
    .carosule-btn-02{
        left: 8rem;
        top: -5rem;
    }
    .testimonials-heading h1{
        font-size: 2.4rem;
    }
    .recent-work-heading h2{
        font-size: 2rem;
        line-height: 2rem;
    }
    .recent-work-heading p{
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
    .recent-work-main-box-first-child-box{
        top: -1rem;
        width: 360px;
        height: 17rem;
        right: 1rem;
    }
    .recent-work-01-web{
        width: 12rem;
        height: 12rem;
    }
    .recent-work-01-mobile{
        height: 12rem;
    }
    .recent-work-main-box-first-child-box h3{
        top: 1.7rem;
        font-size: 1.2rem;
    }
    .recent-work-main-box-first-child-box button{
        position: relative;
        top: -0.2rem;
        left: 14rem;
    }
    .testimonials-heading h1{
        font-size: 1.7rem;
        line-height: 1.8rem;
    }
    .footer-section-first-box h1{
        text-align: center;
        font-size: 1.6rem;
    }
    .footer-section-first-box p{
        text-align: center;
        font-size: 0.6rem;
    }
    .footer-section-first-box h3{
        text-align: center;
    }
    .footer-section-first-box input{
        width: 11rem;
    }
    .footer-map-img{
        position: relative;
        width: 15rem;
        left: 0.8rem;
    }
    .footer-section-first-box input{
        position: relative;
        width: 9rem;
        height: 2.5rem;
        left: 1.5rem;
      }
      .footer-section-first-box button{
        position: relative;
        left: 1.5rem;
        top: -0.01rem;
        height: 2.5rem;
        width: 5rem;
        font-size: 0.9rem;
      }
    .main-btns{
        position: relative;
        width: 100%;
    }
    #menu-icon{
        position: relative;
        left: 8.5rem;
    }
    .recent-work-carosule-btn-01{
        top: -4rem;
        left: -2rem;
    }
    .recent-work-carosule-btn-02{
        top: -4rem;
        left: -2rem;
    }
}
@media(max-width: 440px){
    .main-btns{
        position: relative;
        left: -2rem;
        top: -0.5rem;
        display: flex;
      
    }
    .main-btns a{
        font-size: 1rem;
        margin-left: 5px;
    }
    #menu-icon{
       position: relative;
       left: -0rem;
       top: -0.2rem;
    }
}

@media(max-width: 400px){
    .hero-content h1,
    .our-works-heading-box h1,
    .about-content h1,
    .recent-work-heading h2,
    .recent-work-heading h2 b,
    .testimonials-heading h1{
        font-size: 1.6rem;
        line-height: 1.6rem;
    }
    .hero-content p,
    .about-content p,
    .recent-work-heading p{
        font-size: 0.6rem;
        line-height: 0.8rem;
    }
    .hero-content button,
    .about-content button{
        width: 7rem;
        height: 2.5rem;
        font-size: 0.8rem;
        left: 4.8rem;
    }
    .hero-img-01,
    .about-img{
        width: 16rem;
        left: -1rem;
    }
    .main-btns{
        position: relative;
        width: 100%;
    }
    .main-shape{
        width: 25rem;
        height: 37.3rem;
        top: -10rem;
        right: -5.4rem;
    }
}
@media(max-width: 370px){
    .main-btns{
        position: relative;
        left: -4rem;
        
    }
}
